In [1]:
# importing libraries needed to scrap data,here usimg selenium
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import os
import time

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [3]:
#url
x1='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

In [188]:
driver=webdriver.Chrome(executable_path="C://Users/8.1/chromedriver")

In [189]:
driver.get(x1)

In [190]:
#creating empty list for header of table
header=[]

In [191]:
#running loop over the xpath of table header to get text in it
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/thead/tr/th"):
    header.append(i.text)

In [192]:
#output 
header

['No.',
 'Video name',
 'Uploader / artist',
 'Views (billions)',
 'Upload date',
 'Note']

In [193]:
#count the number of rows
rows=len(driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr"))

#count number of columns
cols=len(driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[1]/td"))

In [194]:
#printing rows and columns in a table
print(rows)
print(cols)

30
6

In [211]:
#creating empty list for rows
Rows=[]
row=[]

In [212]:
#running loops to get each text of particular rows and columns
for r in range(1,rows+1):  #iterate over rows
    for c in range(1,cols+1): #iterate over columns
        value=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr["+str(r)+"]/td["+str(c)+"]").text
        Rows.append(value)    #appending each value in list

In [218]:
#output of the Rows
Rows

['1.',
 '"Baby Shark Dance"[28]',
 "Pinkfong Kids' Songs & Stories",
 '7.85',
 'June 17, 2016',
 '[B]',
 '2.',
 '"Despacito"[30]',
 'Luis Fonsi featuring Daddy Yankee',
 '7.19',
 'January 12, 2017',
 '[C]',
 '3.',
 '"Shape of You"[31]',
 'Ed Sheeran',
 '5.18',
 'January 30, 2017',
 '[D]',
 '4.',
 '"See You Again"[32]',
 'Wiz Khalifa featuring Charlie Puth',
 '4.94',
 'April 6, 2015',
 '[E]',
 '5.',
 '"Johny Johny Yes Papa"[35]',
 'LooLoo Kids',
 '4.73',
 'October 8, 2016',
 '[F]',
 '6.',
 '"Masha and the Bear – Recipe for Disaster"[36]',
 'Get Movies',
 '4.41',
 'January 31, 2012',
 '[G]',
 '7.',
 '"Uptown Funk"[37]',
 'Mark Ronson featuring Bruno Mars',
 '4.08',
 'November 19, 2014',
 '[H]',
 '8.',
 '"Gangnam Style"[38]',
 'Psy',
 '3.96',
 'July 15, 2012',
 '[I]',
 '9.',
 '"Learning Colors – Colorful Eggs on a Farm"[40]',
 'Miroshka TV',
 '3.69',
 'February 27, 2018',
 '',
 '10.',
 '"Bath Song"[41]',
 'Cocomelon – Nursery Rhymes',
 '3.61',
 'May 2, 2018',
 '',
 '11.',
 '"Phonics Song with Two Words"[42]',
 'ChuChu TV',
 '3.50',
 'March 6, 2014',
 '',
 '12.',
 '"Sorry"[43]',
 'Justin Bieber',
 '3.40',
 'October 22, 2015',
 '',
 '13.',
 '"Sugar"[44]',
 'Maroon 5',
 '3.39',
 'January 14, 2015',
 '',
 '14.',
 '"Roar"[45]',
 'Katy Perry',
 '3.27',
 'September 5, 2013',
 '',
 '15.',
 '"Counting Stars"[46]',
 'OneRepublic',
 '3.19',
 'May 31, 2013',
 '',
 '16.',
 '"Thinking Out Loud"[47]',
 'Ed Sheeran',
 '3.18',
 'October 7, 2014',
 '',
 '17.',
 '"Dame Tu Cosita"[48]',
 'El Chombo featuring Cutty Ranks',
 '3.10',
 'April 5, 2018',
 '',
 '18.',
 '"Shake It Off"[49]',
 'Taylor Swift',
 '3.02',
 'August 18, 2014',
 '',
 '19.',
 '"Faded"[50]',
 'Alan Walker',
 '2.98',
 'December 3, 2015',
 '',
 '20.',
 '"Lean On"[51]',
 'Major Lazer and DJ Snake featuring MØ',
 '2.97',
 'March 22, 2015',
 '',
 '21.',
 '"Bailando"[52]',
 'Enrique Iglesias featuring Descemer Bueno and Gente De Zona',
 '2.97',
 'April 11, 2014',
 '',
 '22.',
 '"Dark Horse"[53]',
 'Katy Perry featuring Juicy J',
 '2.96',
 'February 20, 2014',
 '',
 '23.',
 '"Girls Like You"[54]',
 'Maroon 5 featuring Cardi B',
 '2.95',
 'May 31, 2018',
 '',
 '24.',
 '"Let Her Go"[55]',
 'Passenger',
 '2.90',
 'July 25, 2012',
 '',
 '25.',
 '"Mi Gente"[56]',
 'J Balvin and Willy William',
 '2.86',
 'June 29, 2017',
 '',
 '26.',
 '"Hello"[57]',
 'Adele',
 '2.78',
 'October 22, 2015',
 '',
 '27.',
 '"Waka Waka (This Time for Africa)"[58]',
 'Shakira featuring Freshlyground',
 '2.73',
 'June 4, 2010',
 '',
 '28.',
 '"Perfect"[59]',
 'Ed Sheeran',
 '2.73',
 'November 9, 2017',
 '',
 '29.',
 '"Blank Space"[60]',
 'Taylor Swift',
 '2.71',
 'November 10, 2014',
 '',
 '30.',
 '"Chantaje"[61]',
 'Shakira featuring Maluma',
 '2.62',
 'November 18, 2016',
 '']

In [214]:
#now we will split the data into 30 rows
split = np.array_split(Rows, 30)
#after splitting we will convert them into list and then append
for array in split:
    row.append(list(array))

In [219]:
#creating dataframe and giving columns  as header
Most_watched = pd.DataFrame(row, columns = header)
#displaying dataframe
Most_watched

,No.,Video name,Uploader / artist,Views (billions),Upload date,Note
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,7.85,"June 17, 2016",[B]
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,7.19,"January 12, 2017",[C]
2,3.,"""Shape of You""[31]",Ed Sheeran,5.18,"January 30, 2017",[D]
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,4.94,"April 6, 2015",[E]
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,4.73,"October 8, 2016",[F]
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.41,"January 31, 2012",[G]
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,4.08,"November 19, 2014",[H]
7,8.,"""Gangnam Style""[38]",Psy,3.96,"July 15, 2012",[I]
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,3.69,"February 27, 2018",
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,3.61,"May 2, 2018",
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,3.50,"March 6, 2014",
11,12.,"""Sorry""[43]",Justin Bieber,3.40,"October 22, 2015",
12,13.,"""Sugar""[44]",Maroon 5,3.39,"January 14, 2015",
13,14.,"""Roar""[45]",Katy Perry,3.27,"September 5, 2013",
14,15.,"""Counting Stars""[46]",OneRepublic,3.19,"May 31, 2013",
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,3.18,"October 7, 2014",
16,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,3.10,"April 5, 2018",
17,18.,"""Shake It Off""[49]",Taylor Swift,3.02,"August 18, 2014",
18,19.,"""Faded""[50]",Alan Walker,2.98,"December 3, 2015",
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,2.97,"March 22, 2015",
20,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,2.97,"April 11, 2014",
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,2.96,"February 20, 2014",
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,2.95,"May 31, 2018",
23,24.,"""Let Her Go""[55]",Passenger,2.90,"July 25, 2012",
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,2.86,"June 29, 2017",
25,26.,"""Hello""[57]",Adele,2.78,"October 22, 2015",
26,27.,"""Waka Waka (This Time for Africa)""[58]",Shakira featuring Freshlyground,2.73,"June 4, 2010",
27,28.,"""Perfect""[59]",Ed Sheeran,2.73,"November 9, 2017",
28,29.,"""Blank Space""[60]",Taylor Swift,2.71,"November 10, 2014",
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,2.62,"November 18, 2016",

In [228]:
#since we don't require Note column so we will remove it
Most_watched.drop('Note',axis=1,inplace=True)

In [229]:
#final dataframe
Most_watched

,No.,Video name,Uploader / artist,Views (billions),Upload date
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,7.85,"June 17, 2016"
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,7.19,"January 12, 2017"
2,3.,"""Shape of You""[31]",Ed Sheeran,5.18,"January 30, 2017"
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,4.94,"April 6, 2015"
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,4.73,"October 8, 2016"
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.41,"January 31, 2012"
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,4.08,"November 19, 2014"
7,8.,"""Gangnam Style""[38]",Psy,3.96,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,3.69,"February 27, 2018"
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,3.61,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,3.50,"March 6, 2014"
11,12.,"""Sorry""[43]",Justin Bieber,3.40,"October 22, 2015"
12,13.,"""Sugar""[44]",Maroon 5,3.39,"January 14, 2015"
13,14.,"""Roar""[45]",Katy Perry,3.27,"September 5, 2013"
14,15.,"""Counting Stars""[46]",OneRepublic,3.19,"May 31, 2013"
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,3.18,"October 7, 2014"
16,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,3.10,"April 5, 2018"
17,18.,"""Shake It Off""[49]",Taylor Swift,3.02,"August 18, 2014"
18,19.,"""Faded""[50]",Alan Walker,2.98,"December 3, 2015"
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,2.97,"March 22, 2015"
20,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,2.97,"April 11, 2014"
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,2.96,"February 20, 2014"
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,2.95,"May 31, 2018"
23,24.,"""Let Her Go""[55]",Passenger,2.90,"July 25, 2012"
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,2.86,"June 29, 2017"
25,26.,"""Hello""[57]",Adele,2.78,"October 22, 2015"
26,27.,"""Waka Waka (This Time for Africa)""[58]",Shakira featuring Freshlyground,2.73,"June 4, 2010"
27,28.,"""Perfect""[59]",Ed Sheeran,2.73,"November 9, 2017"
28,29.,"""Blank Space""[60]",Taylor Swift,2.71,"November 10, 2014"
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,2.62,"November 18, 2016"

## 2. Scrape the details team India’s international fixtures from bcci.tv.

In [230]:
#url
x2='https://www.bcci.tv'

In [334]:
driver=webdriver.Chrome(executable_path="C://Users/8.1/chromedriver")

In [335]:
driver.get(x2)

In [336]:
#using xpath of the international tab and then clicking on it 
driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()

In [337]:
#after clicking on international, we will click on fixtures
driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']").click()

In [346]:
#creating empty list
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [347]:
#Getting all the elements by there xpath 
for i in driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']"):  #for match title
    Match_title.append(i.text)
for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']"):              #for series type
    Series.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']//span[2]"):      #for Time of play
    Time.append(i.text)
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):      #forPlace where match will held 
    Place.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']"):   #for date of match
    Date.append(i.text)

In [348]:
#creating empty dataframe and then storing data in it
fixtures=pd.DataFrame({})
fixtures['Match_title']=Match_title
fixtures['Series']=Series
fixtures['Place']=Place
fixtures['Date']=Date
fixtures['Time']=Time

In [349]:
#dataframe output
fixtures

,Match_title,Series,Place,Date,Time
0,1st Test,TEST,"M. A. Chidambaram Stadium, Chennai",Friday\n05\nFEBRUARY\n09:30 IST,09:30 IST
1,2nd Test,TEST,"M. A. Chidambaram Stadium, Chennai",Saturday\n13\nFEBRUARY\n09:30 IST,09:30 IST
2,3rd Test,TEST,"Sardar Patel Stadium, Ahmedabad",Wednesday\n24\nFEBRUARY\n14:30 IST,14:30 IST
3,4th Test,TEST,"Sardar Patel Stadium, Ahmedabad",Thursday\n04\nMARCH\n09:30 IST,09:30 IST
4,1st T20I,T20I,"Sardar Patel Stadium, Ahmedabad",Friday\n12\nMARCH\n19:00 IST,19:00 IST
5,2nd T20I,T20I,"Sardar Patel Stadium, Ahmedabad",Sunday\n14\nMARCH\n19:00 IST,19:00 IST
6,3rd T20I,T20I,"Sardar Patel Stadium, Ahmedabad",Tuesday\n16\nMARCH\n19:00 IST,19:00 IST
7,4th T20I,T20I,"Sardar Patel Stadium, Ahmedabad",Thursday\n18\nMARCH\n19:00 IST,19:00 IST
8,5th T20I,T20I,"Sardar Patel Stadium, Ahmedabad",Saturday\n20\nMARCH\n19:00 IST,19:00 IST
9,1st ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",Tuesday\n23\nMARCH\n13:30 IST,13:30 IST
10,2nd ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",Friday\n26\nMARCH\n13:30 IST,13:30 IST
11,3rd ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",Sunday\n28\nMARCH\n13:30 IST,13:30 IST
12,1st Test,TEST,"Trent Bridge, Nottingham",Wednesday\n04\nAUGUST\n15:30 IST,15:30 IST
13,2nd Test,TEST,"Lord's, London",Thursday\n12\nAUGUST\n15:30 IST,15:30 IST
14,3rd Test,TEST,"Headingley, Leeds",Wednesday\n25\nAUGUST\n15:30 IST,15:30 IST
15,4th Test,TEST,"The Oval, London",Thursday\n02\nSEPTEMBER\n15:30 IST,15:30 IST
16,5th Test,TEST,"Old Trafford, Manchester",Friday\n10\nSEPTEMBER\n15:30 IST,15:30 IST

In [350]:
#now we need to clean the column Date, so we will replace '\n' with ',' 
for i in range(0,17):
    Date[i]=Date[i].replace("\n",',')
    Date[i]=' '.join(Date[i].split(',')[0:3])   #now we will slice the data to remove time and then join them

In [351]:
#again assigning new data of the date
fixtures['Date']=Date

In [352]:
#final dataframe
fixtures

,Match_title,Series,Place,Date,Time
0,1st Test,TEST,"M. A. Chidambaram Stadium, Chennai",Friday 05 FEBRUARY,09:30 IST
1,2nd Test,TEST,"M. A. Chidambaram Stadium, Chennai",Saturday 13 FEBRUARY,09:30 IST
2,3rd Test,TEST,"Sardar Patel Stadium, Ahmedabad",Wednesday 24 FEBRUARY,14:30 IST
3,4th Test,TEST,"Sardar Patel Stadium, Ahmedabad",Thursday 04 MARCH,09:30 IST
4,1st T20I,T20I,"Sardar Patel Stadium, Ahmedabad",Friday 12 MARCH,19:00 IST
5,2nd T20I,T20I,"Sardar Patel Stadium, Ahmedabad",Sunday 14 MARCH,19:00 IST
6,3rd T20I,T20I,"Sardar Patel Stadium, Ahmedabad",Tuesday 16 MARCH,19:00 IST
7,4th T20I,T20I,"Sardar Patel Stadium, Ahmedabad",Thursday 18 MARCH,19:00 IST
8,5th T20I,T20I,"Sardar Patel Stadium, Ahmedabad",Saturday 20 MARCH,19:00 IST
9,1st ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",Tuesday 23 MARCH,13:30 IST
10,2nd ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",Friday 26 MARCH,13:30 IST
11,3rd ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",Sunday 28 MARCH,13:30 IST
12,1st Test,TEST,"Trent Bridge, Nottingham",Wednesday 04 AUGUST,15:30 IST
13,2nd Test,TEST,"Lord's, London",Thursday 12 AUGUST,15:30 IST
14,3rd Test,TEST,"Headingley, Leeds",Wednesday 25 AUGUST,15:30 IST
15,4th Test,TEST,"The Oval, London",Thursday 02 SEPTEMBER,15:30 IST
16,5th Test,TEST,"Old Trafford, Manchester",Friday 10 SEPTEMBER,15:30 IST

## 3. Scrape the details of selenium exception from guru99.com. 
Url = https://www.guru99.com

In [358]:
x3='https://www.guru99.com'

In [386]:
driver=webdriver.Chrome(executable_path="C://Users/8.1/chromedriver")

In [387]:
driver.get(x3)

In [388]:
driver.find_element_by_xpath("//a[@title='Selenium']").click()

In [389]:
#We will now scroll down
driver.execute_script("window.scrollTo(0,3400);")

In [390]:
driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").click()

In [391]:
#count the number of rows
rows=len(driver.find_elements_by_xpath("//table[@class='table table-striped'][1]/tbody/tr"))

#count number of columns
cols=len(driver.find_elements_by_xpath("//table[@class='table table-striped'][1]/tbody/tr[1]/td"))

In [392]:
#printing rows and columns in a table
print(rows)
print(cols)

42
2

In [393]:
#creating empty list for rows
Rows=[]
row=[]

In [394]:
#running loops to get each text of particular rows and columns
for r in range(1,rows+1):  #iterate over rows
    for c in range(1,cols+1): #iterate over columns
        value=driver.find_element_by_xpath("//table[@class='table table-striped'][1]/tbody/tr["+str(r)+"]/td["+str(c)+"]").text
        Rows.append(value)    #appending each value in list

In [395]:
#now we will split the data into 42 rows
split = np.array_split(Rows, 42)
#after splitting we will convert them into list and then append
for array in split:
    row.append(list(array))

In [396]:
#displaying data 
row

[['Exception name', 'Description'],
 ['ElementNotVisibleException',
  'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.'],
 ['ElementNotSelectableException',
  'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.'],
 ['NoSuchElementException',
  'This Exception occurs if an element could not be found.'],
 ['NoSuchFrameException',
  'This Exception occurs if the frame target to be switched to does not exist.'],
 ['NoAlertPresentException',
  'This Exception occurs when you switch to no presented alert.'],
 ['NoSuchWindowException',
  'This Exception occurs if the window target to be switch does not exist.'],
 ['StaleElementReferenceException',
  'This Selenium exception occurs happens when the web element is detached from the current DOM.'],
 ['SessionNotFoundException',
  'The WebDriver is acting after you quit the browser.'],
 ['TimeoutException',
  "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time."],
 ['WebDriverException',
  'This Exception takes place when the WebDriver is acting right after you close the browser.'],
 ['ConnectionClosedException',
  'This type of Exception takes place when there is a disconnection in the driver.'],
 ['ElementClickInterceptedException',
  'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.'],
 ['ElementNotInteractableException',
  'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.'],
 ['ErrorInResponseException',
  'This happens while interacting with the Firefox extension or the remote driver server.'],
 ['ErrorHandler.UnknownServerException',
  'Exception is used as a placeholder in case if the server returns an error without a stack trace.'],
 ['ImeActivationFailedException',
  'This expectation will occur when IME engine activation has failed.'],
 ['ImeNotAvailableException',
  'It takes place when IME support is unavailable.'],
 ['InsecureCertificateException',
  'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.'],
 ['InvalidArgumentException',
  'It occurs when an argument does not belong to the expected type.'],
 ['InvalidCookieDomainException',
  'This happens when you try to add a cookie under a different domain instead of current URL.'],
 ['InvalidCoordinatesException',
  'This type of Exception matches an interacting operation that is not valid.'],
 ['InvalidElementStateExceptio',
  "It occurs when command can't be finished when the element is invalid."],
 ['InvalidSessionIdException',
  'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.'],
 ['InvalidSwitchToTargetException',
  'This occurs when the frame or window target to be switched does not exist.'],
 ['JavascriptException',
  'This issue occurs while executing JavaScript given by the user.'],
 ['JsonException',
  'It occurs when you afford to get the session when the session is not created.'],
 ['NoSuchAttributeException',
  'This kind of Exception occurs when the attribute of an element could not be found.'],
 ['MoveTargetOutOfBoundsException',
  'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.'],
 ['NoSuchContextException', 'ContextAware does mobile device testing.'],
 ['NoSuchCookieException',
  'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.'],
 ['NotFoundException',
  'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.'],
 ['RemoteDriverServerException',
  'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.'],
 ['ScreenshotException', 'It is not possible to capture a screen.'],
 ['SessionNotCreatedException',
  'It happens when a new session could not be successfully created.'],
 ['UnableToSetCookieException',
  'This occurs if a driver is unable to set a cookie.'],
 ['UnexpectedTagNameException',
  'Happens if a support class did not get a web element as expected.'],
 ['UnhandledAlertException',
  'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.'],
 ['UnexpectedAlertPresentException',
  'It occurs when there is the appearance of an unexpected alert.'],
 ['UnknownMethodException',
  'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.'],
 ['UnreachableBrowserException',
  'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.'],
 ['UnsupportedCommandException',
  "This occurs when remote WebDriver does n't send valid commands as expected."]]

In [400]:
#creating dataframe 
exceptions= pd.DataFrame(row)
#displaying dataframe
exceptions

,0,1
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [401]:
#now setting up the first row as header 
headers = exceptions.iloc[0]
df_exceptions  = pd.DataFrame(exceptions.values[1:], columns=headers)

In [402]:
#final dataframe
df_exceptions

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

## 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com
- We have to find following details:
- A) Rank
- B) State
- C) GSDP(19-20)
- D) GSDP(18-19)
- E) Share(2018)
- F) GDP($ billion)

In [405]:
x4='http://statisticstimes.com'

In [406]:
driver=webdriver.Chrome(executable_path="C://Users/8.1/chromedriver")

In [407]:
driver.get(x4)

In [408]:
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button").click()

In [409]:
driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]").click()

In [413]:
driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a").click()

In [420]:
#count the number of rows
rows=len(driver.find_elements_by_xpath("//table[@id='table_id'][1]/tbody[1]/tr"))

#count number of columns
cols=len(driver.find_elements_by_xpath("//table[@id='table_id'][1]/tbody[1]/tr[1]/td"))

In [421]:
#printing rows and columns in a table
print(rows)
print(cols)

33
8

In [422]:
#creating empty list for rows
Rows=[]
row=[]

In [423]:
#running loops to get each text of particular rows and columns
for r in range(1,rows+1):  #iterate over rows
    for c in range(1,cols+1): #iterate over columns
        value=driver.find_element_by_xpath("//table[@id='table_id'][1]/tbody[1]/tr["+str(r)+"]/td["+str(c)+"]").text
        Rows.append(value)    #appending each value in list

In [424]:
#now we will split the data into 33 rows
split = np.array_split(Rows, 33)
#after splitting we will convert them into list and then append
for array in split:
    row.append(list(array))

In [431]:
GDP=pd.DataFrame(row)

In [433]:
GDP.drop([6,7],axis=1,inplace=True)

In [443]:
GDP.columns=['Rank','State','GSDP(19-20)','GSDP(18-19)','Share(2018)','GDP($ billion)']

In [444]:
GDP

,Rank,State,GSDP(19-20),GSDP(18-19),Share(2018),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Uttar Pradesh,"1,794,508","1,668,229",8.79%,252.278
2,3,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
3,4,Karnataka,"1,699,115","1,544,399",8.14%,233.552
4,5,Gujarat,-,"1,502,899",7.92%,227.276
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"531,374","492,229",2.59%,74.437
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,-,"73,170",0.39%,11.065
23,24,Tripura,"55,358","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"40,802","36,656",0.19%,5.543
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,-,"27,869",0.15%,4.214
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,-,"19,520",0.10%,2.952
32,33,Andaman & Nicobar Islands,-,-,-,-

## 5. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
- We have to find the following details:
- A) Repository title
- B) Repository description
- C) Contributors count
- D) Language used

In [445]:
x5='https://github.com'

In [612]:
driver=webdriver.Chrome(executable_path="C://Users/8.1/chromedriver")

In [616]:
driver.get(x5)

In [617]:
#firstly we will click on the login button
driver.find_element_by_xpath("//a[@ class='HeaderMenu-link no-underline mr-3']").click()

In [567]:
#importing getpass
from getpass import getpass

#now we need to enter login details 
Username=getpass("Enter your username")  #acceptting email id
Password=getpass("enter the password:") #accepting password

Enter your username········
enter the password:········

In [618]:
#getting xpath of username search bar
username=driver.find_element_by_xpath("//input[@type='text']")

In [620]:
#sending entered username
username.send_keys(Username)

In [621]:
#getting xpath of password search bar
password=driver.find_element_by_xpath("//input[@type='password']")

In [622]:
#sending password
password.send_keys(Password)

In [623]:
#now click on submit button
driver.find_element_by_xpath("//input[@type='submit']").click()

In [628]:
#now using xpath of explore tab we will click on it
driver.find_element_by_xpath("//a[@ data-selected-links='/explore /trending /trending/developers /integrations /integrations/feature/code /integrations/feature/collaborate /integrations/feature/ship showcases showcases_search showcases_landing /explore']").click()

In [629]:
#now we will click on trending tab
driver.find_element_by_xpath("//a[@ data-selected-links='/trending /trending/developers /trending/developers /trending /trending']").click()

In [637]:
#creating empty list
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [638]:
#now using xpath of title and contributors count we will extract the text data
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a"):
    Repository_title.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='f6 text-gray mt-2']/a[2]"):
    Contributors_count.append(i.text)

In [639]:
#creating empty list
url=[]

In [640]:
#now we will take the url of all repositries  
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    url.append(i.get_attribute('href'))

In [641]:
len(url)

25

In [642]:
#now we will run loop for every url we will scrap language used and description this is done because there might be missing data
for i in url:
    driver.get(i)
    try:
        Language_used.append(driver.find_element_by_xpath("//li[@class='d-inline']//span[1]").text)
    except NoSuchElementException:
        Language_used.append("Not available")
    try:
        Repository_description.append(driver.find_element_by_xpath("//p[@class='f4 mt-3']").text)
    except NoSuchElementException:
        Repository_description.append("Not available")
    time.sleep(2)

In [643]:
#creating dataframe
github=pd.DataFrame({})
github['Repository_title']=Repository_title
github['Repository_description']=Repository_description
github['Contributors_count']=Contributors_count
github['Language_used']=Language_used

In [644]:
#dataframe output
github

,Repository_title,Repository_description,Contributors_count,Language_used
0,iam-abbas / Reddit-Stock-Trends,Fetch currently trending stocks on Reddit,95,Python
1,iann0036 / iamlive,Generate a basic IAM policy from AWS client-si...,21,Go
2,aamini / introtodeeplearning,Lab Materials for MIT 6.S191: Introduction to ...,"1,725",Jupyter Notebook
3,tgbot-collection / YYeTsBot,人人影视bot，完全对接人人影视全部无删减资源,289,Python
4,tastyigniter / TastyIgniter,"Powerful, yet easy to use, open source restaur...",664,PHP
5,aquasecurity / trivy,A Simple and Comprehensive Vulnerability Scann...,557,Go
6,abuanwar072 / Flutter-responsive-email-ui---Mo...,We redesign the outlook app also make it respo...,89,Dart
7,Soldat / soldat,Soldat is a unique 2D (side-view) multiplayer ...,56,Pascal
8,Sunert / Scripts,Not available,134,JavaScript
9,inancgumus / learngo,"1000+ Hand-Crafted Go Examples, Exercises, and...",979,Go
10,microsoft / Web-Dev-For-Beginners,"24 Lessons, 12 Weeks, Get Started as a Web Dev...","2,563",JavaScript
11,freqtrade / freqtrade,"Free, open source crypto trading bot","1,502",Python
12,dkhamsing / open-source-ios-apps,Collaborative List of Open-Source iOS Apps,"4,237",Swift
13,TheAlgorithms / C,Collection of various algorithms in mathematic...,"2,274",C
14,cloudcommunity / Free-Certifications,Curated list of free courses & certifications,132,Not available
15,hashicorp / vault,"A tool for secrets management, encryption as a...","2,780",Go
16,Kaiyiwing / qwerty-learner,为键盘工作者设计的单词记忆与英语肌肉记忆锻炼软件,78,TypeScript
17,nandorojo / moti,"The universal React Native animation library, ...",11,TypeScript
18,jomjol / AI-on-the-edge-device,Not available,36,C++
19,goldbergyoni / nodebestpractices,The Node.js best practices list (February 2021),"5,794",JavaScript
20,EbookFoundation / free-programming-books,Freely available programming books,"40,460",Not available
21,reed-hong / awesome-libra,A Curated List of Awesome Facebook Libra Resou...,143,Not available
22,excalidraw / excalidraw,Virtual whiteboard for sketching hand-drawn li...,"1,129",TypeScript
23,aws / amazon-sagemaker-examples,Example notebooks that show how to apply machi...,"3,724",Jupyter Notebook
24,ryanmcdermott / clean-code-javascript,Clean Code concepts adapted for JavaScript,"5,529",JavaScript

## 6-Scrape the details of top 100 songs on billiboard.com. 
Url = https://www.billboard.com/
- We have to find the following details:
- A) Song name
- B) Artist name
- C) Last week rank
- D) Peak rank
- E) Weeks on board

In [646]:
x6=' https://www.billboard.com/'

In [669]:
driver=webdriver.Chrome(executable_path="C://Users/8.1/chromedriver")

In [670]:
driver.get(x6)

In [671]:
#after opening the site we will click on charts option by its xpath
driver.find_element_by_xpath("//header[@class='header header--desktop padding-x--sm flex--space-between-center bg--dark']//li[1]//a[1]").click()

In [672]:
#after clicking on charts a new window will appear and now we will click on trending tab 
driver.find_element_by_xpath("//a[@class='charts-landing__link charts-landing__video--background']").click()

In [673]:
#creating empty list
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [674]:
# using xpath of song name and running loop of its elements and then getting data of each  
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    Song_name.append(i.text)

In [675]:
# using xpath of artist name and running loop of its elements and then getting data of each  
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    Artist_name.append(i.text)

In [676]:
# using xpath of last week rank and running loop of its elements and then getting data of each  
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    Last_week_rank.append(i.text)

In [677]:
# using xpath of peak rank and running loop of its elements and then getting data of each  
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    Peak_rank.append(i.text)

In [678]:
# using xpath of weeks on board and running loop of its elements and then getting data of each  
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    Weeks_on_board.append(i.text)

In [679]:
#creating dataframe
billboard=pd.DataFrame({})
billboard['Song_name']=Song_name
billboard['Artist_name']=Artist_name
billboard['Last_week_rank']=Last_week_rank
billboard['Peak_rank']=Peak_rank
billboard['Weeks_on_board']=Weeks_on_board

In [680]:
#final dataframe
billboard

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,-,96,1
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,-,62,3
98,Almost Maybes,Jordan Davis,-,95,2
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

## 7. Scrape the details of Data science recruiters from naukri.com. 
##### Url = https://www.naukri.com/
##### We have to find the following details:
##### A) Name
##### B) Designation
##### C) Company
##### D) Skills they hire for
##### E) Location

In [2]:
x7='https://www.naukri.com/'

In [90]:
driver=webdriver.Chrome(executable_path="C://Users/8.1/chromedriver")

In [91]:
#providing link to the driver
driver.get(x7)

In [105]:
#now we will extarct link of the recruit tab option
recruit=driver.find_element_by_xpath("//a[@title='Search Recruiters']").get_attribute('href')

In [132]:
# now providing link of recruiter tab to the driver
driver.get(recruit)

In [133]:
#getting the element of search bar using its xpath 
search=driver.find_element_by_xpath("//input[@type='text']")

In [134]:
#entering the  'Data science' as the search 
search.send_keys('Data science')

In [135]:
#now clicking on submit button
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [136]:
#list to append url
url=[]

In [137]:
#now appending each recruiter link in list 
for i in driver.find_elements_by_xpath("//a[@class='ellipsis'][1]"):
    url.append(i.get_attribute('href'))

In [138]:
#total number of links
len(url)

50

In [139]:
#creating list
Name=[]
Designation=[]
Company=[]
Location=[]

In [140]:
#getting skills seprately as some of the skills are not vsisble when we open link of each
Skills_Hire_for=[]
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
      Skills_Hire_for.append(i.text)

In [141]:
#getting rest of the data from  every url link 
for i in url:
    driver.get(i)
    try:
        Name.append(driver.find_element_by_xpath("//div[@class='mt10 oh']/h1[1]").text)
    except NoSuchElementException:
        Name.append("Not available")
    try:
        Designation.append(driver.find_element_by_xpath("//div[@class='ellipsis']").text)
    except NoSuchElementException:
        Designation.append("Not available")
    try:
        Company.append(driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[4]").text)
    except NoSuchElementException:
        Company.append("Not available")
    try:
        Location.append(driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']//div[5]/a[@class='fl ellipsis widLrg']").text)
    except NoSuchElementException:
        Location.append("Not available")
    time.sleep(2)

In [142]:
#checking the lenghts of list
print(len(Name))
print(len(Designation))
print(len(Company))
print(len(Skills_Hire_for))
print(len(Location))

50
50
50
50
50

In [143]:
#creating dataframe
recruiter=pd.DataFrame({})
recruiter['Name']=Name
recruiter['Designation']=Designation
recruiter['Company']=Company
recruiter['Skills_Hire_for']=Skills_Hire_for
recruiter['Location']=Location

In [144]:
#final result
recruiter

,Name,Designation,Company,Skills_Hire_for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder & CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and APAC,Recruitment - Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Research,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager - Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
28,Rajat Kumar,Founder & CEO,R.S Consultancy & Services,"Web Technologies, Project Management, Software...",Delhi
29,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
30,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
31,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
32,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
33,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research & Consulting Co. India,"Relationship Management, Retail Sales, Private...",Aligarh
34,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
35,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
36,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
37,Ankit Sinha,Head-Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
38,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
39,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
40,Ashwini,"Director, Global Delivery",MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
41,Balaji Kolli,Co-Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
42,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
43,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
44,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
45,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
46,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
47,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
48,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore
49,Dr. S. Prasanna Devi,Professor and Head,SRM Institute of Science and Technology,"Computer Science, Machine Learning, Deep Learn...",Chennai

## 8. Scrape the details of Highest selling novels.
#### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
#### We have to find the following details:
##### A) Book name
##### B) Author name
##### C) Volumes sold
##### D) Publisher
##### E) Genre

In [118]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [119]:
#creating empty list for header of table
header=[]

In [120]:
#running loop over the xpath of table header to get text in it
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable'][1]/thead/tr/th"):
    header.append(i.text)

In [121]:
header

['Rank', 'Title', 'Author', 'Volume Sales', 'Publisher', 'Genre']

In [122]:
#count the number of rows
rows=len(driver.find_elements_by_xpath("//table[@class='in-article sortable'][1]/tbody/tr"))

#count number of columns
cols=len(driver.find_elements_by_xpath("//table[@class='in-article sortable'][1]/tbody/tr[1]/td"))

In [123]:
#printing rows and columns in a table
print(rows)
print(cols)

100
6

In [124]:
#creating empty list for rows
Rows=[]
row=[]

In [125]:
#running loops to get each text of particular rows and columns
for r in range(1,rows+1):  #iterate over rows
    for c in range(1,cols+1): #iterate over columns
        value=driver.find_element_by_xpath("//table[@class='in-article sortable'][1]/tbody/tr["+str(r)+"]/td["+str(c)+"]").text
        Rows.append(value)    #appending each value in list

In [126]:
#now we will split the data into 100 rows
split = np.array_split(Rows, 100)
#after splitting we will convert them into list and then append
for array in split:
    row.append(list(array))

In [127]:
row

[['1',
  'Da Vinci Code,The',
  'Brown, Dan',
  '5,094,805',
  'Transworld',
  'Crime, Thriller & Adventure'],
 ['2',
  'Harry Potter and the Deathly Hallows',
  'Rowling, J.K.',
  '4,475,152',
  'Bloomsbury',
  "Children's Fiction"],
 ['3',
  "Harry Potter and the Philosopher's Stone",
  'Rowling, J.K.',
  '4,200,654',
  'Bloomsbury',
  "Children's Fiction"],
 ['4',
  'Harry Potter and the Order of the Phoenix',
  'Rowling, J.K.',
  '4,179,479',
  'Bloomsbury',
  "Children's Fiction"],
 ['5',
  'Fifty Shades of Grey',
  'James, E. L.',
  '3,758,936',
  'Random House',
  'Romance & Sagas'],
 ['6',
  'Harry Potter and the Goblet of Fire',
  'Rowling, J.K.',
  '3,583,215',
  'Bloomsbury',
  "Children's Fiction"],
 ['7',
  'Harry Potter and the Chamber of Secrets',
  'Rowling, J.K.',
  '3,484,047',
  'Bloomsbury',
  "Children's Fiction"],
 ['8',
  'Harry Potter and the Prisoner of Azkaban',
  'Rowling, J.K.',
  '3,377,906',
  'Bloomsbury',
  "Children's Fiction"],
 ['9',
  'Angels and Demons',
  'Brown, Dan',
  '3,193,946',
  'Transworld',
  'Crime, Thriller & Adventure'],
 ['10',
  "Harry Potter and the Half-blood Prince:Children's Edition",
  'Rowling, J.K.',
  '2,950,264',
  'Bloomsbury',
  "Children's Fiction"],
 ['11',
  'Fifty Shades Darker',
  'James, E. L.',
  '2,479,784',
  'Random House',
  'Romance & Sagas'],
 ['12',
  'Twilight',
  'Meyer, Stephenie',
  '2,315,405',
  'Little, Brown Book',
  'Young Adult Fiction'],
 ['13',
  'Girl with the Dragon Tattoo,The:Millennium Trilogy',
  'Larsson, Stieg',
  '2,233,570',
  'Quercus',
  'Crime, Thriller & Adventure'],
 ['14',
  'Fifty Shades Freed',
  'James, E. L.',
  '2,193,928',
  'Random House',
  'Romance & Sagas'],
 ['15',
  'Lost Symbol,The',
  'Brown, Dan',
  '2,183,031',
  'Transworld',
  'Crime, Thriller & Adventure'],
 ['16',
  'New Moon',
  'Meyer, Stephenie',
  '2,152,737',
  'Little, Brown Book',
  'Young Adult Fiction'],
 ['17',
  'Deception Point',
  'Brown, Dan',
  '2,062,145',
  'Transworld',
  'Crime, Thriller & Adventure'],
 ['18',
  'Eclipse',
  'Meyer, Stephenie',
  '2,052,876',
  'Little, Brown Book',
  'Young Adult Fiction'],
 ['19',
  'Lovely Bones,The',
  'Sebold, Alice',
  '2,005,598',
  'Pan Macmillan',
  'General & Literary Fiction'],
 ['20',
  'Curious Incident of the Dog in the Night-time,The',
  'Haddon, Mark',
  '1,979,552',
  'Random House',
  'General & Literary Fiction'],
 ['21',
  'Digital Fortress',
  'Brown, Dan',
  '1,928,900',
  'Transworld',
  'Crime, Thriller & Adventure'],
 ['22',
  'Short History of Nearly Everything,A',
  'Bryson, Bill',
  '1,852,919',
  'Transworld',
  'Popular Science'],
 ['23',
  'Girl Who Played with Fire,The:Millennium Trilogy',
  'Larsson, Stieg',
  '1,814,784',
  'Quercus',
  'Crime, Thriller & Adventure'],
 ['24',
  'Breaking Dawn',
  'Meyer, Stephenie',
  '1,787,118',
  'Little, Brown Book',
  'Young Adult Fiction'],
 ['25',
  'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
  'Carle, Eric',
  '1,783,535',
  'Penguin',
  'Picture Books'],
 ['26',
  'Gruffalo,The',
  'Donaldson, Julia',
  '1,781,269',
  'Pan Macmillan',
  'Picture Books'],
 ['27',
  "Jamie's 30-Minute Meals",
  'Oliver, Jamie',
  '1,743,266',
  'Penguin',
  'Food & Drink: General'],
 ['28',
  'Kite Runner,The',
  'Hosseini, Khaled',
  '1,629,119',
  'Bloomsbury',
  'General & Literary Fiction'],
 ['29',
  'One Day',
  'Nicholls, David',
  '1,616,068',
  'Hodder & Stoughton',
  'General & Literary Fiction'],
 ['30',
  'Thousand Splendid Suns,A',
  'Hosseini, Khaled',
  '1,583,992',
  'Bloomsbury',
  'General & Literary Fiction'],
 ['31',
  "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
  'Larsson, Stieg',
  '1,555,135',
  'Quercus',
  'Crime, Thriller & Adventure'],
 ['32',
  "Time Traveler's Wife,The",
  'Niffenegger, Audrey',
  '1,546,886',
  'Random House',
  'General & Literary Fiction'],
 ['33',
  'Atonement',
  'McEwan, Ian',
  '1,539,428',
  'Random House',
  'General & Literary Fiction'],
 ['34',
  "Bridget Jones's Diary:A Novel",
  'Fielding, Helen',
  '1,508,205',
  'Pan Macmillan',
  'General & Literary Fiction'],
 ['35',
  'World According to Clarkson,The',
  'Clarkson, Jeremy',
  '1,489,403',
  'Penguin',
  'Humour: Collections & General'],
 ['36',
  "Captain Corelli's Mandolin",
  'Bernieres, Louis de',
  '1,352,318',
  'Random House',
  'General & Literary Fiction'],
 ['37',
  'Sound of Laughter,The',
  'Kay, Peter',
  '1,310,207',
  'Random House',
  'Autobiography: General'],
 ['38',
  'Life of Pi',
  'Martel, Yann',
  '1,310,176',
  'Canongate',
  'General & Literary Fiction'],
 ['39',
  'Billy Connolly',
  'Stephenson, Pamela',
  '1,231,957',
  'HarperCollins',
  'Biography: The Arts'],
 ['40',
  'Child Called It,A',
  'Pelzer, Dave',
  '1,217,712',
  'Orion',
  'Autobiography: General'],
 ['41',
  "Gruffalo's Child,The",
  'Donaldson, Julia',
  '1,208,711',
  'Pan Macmillan',
  'Picture Books'],
 ['42',
  "Angela's Ashes:A Memoir of a Childhood",
  'McCourt, Frank',
  '1,204,058',
  'HarperCollins',
  'Autobiography: General'],
 ['43',
  'Birdsong',
  'Faulks, Sebastian',
  '1,184,967',
  'Random House',
  'General & Literary Fiction'],
 ['44',
  'Northern Lights:His Dark Materials S.',
  'Pullman, Philip',
  '1,181,503',
  'Scholastic Ltd.',
  'Young Adult Fiction'],
 ['45',
  'Labyrinth',
  'Mosse, Kate',
  '1,181,093',
  'Orion',
  'General & Literary Fiction'],
 ['46',
  'Harry Potter and the Half-blood Prince',
  'Rowling, J.K.',
  '1,153,181',
  'Bloomsbury',
  'Science Fiction & Fantasy'],
 ['47',
  'Help,The',
  'Stockett, Kathryn',
  '1,132,336',
  'Penguin',
  'General & Literary Fiction'],
 ['48',
  'Man and Boy',
  'Parsons, Tony',
  '1,130,802',
  'HarperCollins',
  'General & Literary Fiction'],
 ['49',
  'Memoirs of a Geisha',
  'Golden, Arthur',
  '1,126,337',
  'Random House',
  'General & Literary Fiction'],
 ['50',
  "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
  'McCall Smith, Alexander',
  '1,115,549',
  'Little, Brown Book',
  'Crime, Thriller & Adventure'],
 ['51',
  'Island,The',
  'Hislop, Victoria',
  '1,108,328',
  'Headline',
  'General & Literary Fiction'],
 ['52',
  'PS, I Love You',
  'Ahern, Cecelia',
  '1,107,379',
  'HarperCollins',
  'General & Literary Fiction'],
 ['53',
  'You are What You Eat:The Plan That Will Change Your Life',
  'McKeith, Gillian',
  '1,104,403',
  'Penguin',
  'Fitness & Diet'],
 ['54',
  'Shadow of the Wind,The',
  'Zafon, Carlos Ruiz',
  '1,092,349',
  'Orion',
  'General & Literary Fiction'],
 ['55',
  'Tales of Beedle the Bard,The',
  'Rowling, J.K.',
  '1,090,847',
  'Bloomsbury',
  "Children's Fiction"],
 ['56',
  'Broker,The',
  'Grisham, John',
  '1,087,262',
  'Random House',
  'Crime, Thriller & Adventure'],
 ['57',
  "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
  'Atkins, Robert C.',
  '1,054,196',
  'Random House',
  'Fitness & Diet'],
 ['58',
  'Subtle Knife,The:His Dark Materials S.',
  'Pullman, Philip',
  '1,037,160',
  'Scholastic Ltd.',
  'Young Adult Fiction'],
 ['59',
  'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
  'Truss, Lynne',
  '1,023,688',
  'Profile Books Group',
  'Usage & Writing Guides'],
 ['60',
  "Delia's How to Cook:(Bk.1)",
  'Smith, Delia',
  '1,015,956',
  'Random House',
  'Food & Drink: General'],
 ['61',
  'Chocolat',
  'Harris, Joanne',
  '1,009,873',
  'Transworld',
  'General & Literary Fiction'],
 ['62',
  'Boy in the Striped Pyjamas,The',
  'Boyne, John',
  '1,004,414',
  'Random House Childrens Books G',
  'Young Adult Fiction'],
 ['63',
  "My Sister's Keeper",
  'Picoult, Jodi',
  '1,003,780',
  'Hodder & Stoughton',
  'General & Literary Fiction'],
 ['64',
  'Amber Spyglass,The:His Dark Materials S.',
  'Pullman, Philip',
  '1,002,314',
  'Scholastic Ltd.',
  'Young Adult Fiction'],
 ['65',
  'To Kill a Mockingbird',
  'Lee, Harper',
  '998,213',
  'Random House',
  'General & Literary Fiction'],
 ['66',
  'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
  'Gray, John',
  '992,846',
  'HarperCollins',
  'Popular Culture & Media: General Interest'],
 ['67',
  'Dear Fatty',
  'French, Dawn',
  '986,753',
  'Random House',
  'Autobiography: The Arts'],
 ['68',
  'Short History of Tractors in Ukrainian,A',
  'Lewycka, Marina',
  '986,115',
  'Penguin',
  'General & Literary Fiction'],
 ['69',
  'Hannibal',
  'Harris, Thomas',
  '970,509',
  'Random House',
  'Crime, Thriller & Adventure'],
 ['70',
  'Lord of the Rings,The',
  'Tolkien, J. R. R.',
  '967,466',
  'HarperCollins',
  'Science Fiction & Fantasy'],
 ['71',
  'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
  'Moore, Michael',
  '963,353',
  'Penguin',
  'Current Affairs & Issues'],
 ['72',
  'Interpretation of Murder,The',
  'Rubenfeld, Jed',
  '962,515',
  'Headline',
  'Crime, Thriller & Adventure'],
 ['73',
  'Sharon Osbourne Extreme:My Autobiography',
  'Osbourne, Sharon',
  '959,496',
  'Little, Brown Book',
  'Autobiography: The Arts'],
 ['74',
  'Alchemist,The:A Fable About Following Your Dream',
  'Coelho, Paulo',
  '956,114',
  'HarperCollins',
  'General & Literary Fiction'],
 ['75',
  "At My Mother's Knee ...:and Other Low Joints",
  "O'Grady, Paul",
  '945,640',
  'Transworld',
  'Autobiography: The Arts'],
 ['76',
  'Notes from a Small Island',
  'Bryson, Bill',
  '931,312',
  'Transworld',
  'Travel Writing'],
 ['77',
  'Return of the Naked Chef,The',
  'Oliver, Jamie',
  '925,425',
  'Penguin',
  'Food & Drink: General'],
 ['78',
  'Bridget Jones: The Edge of Reason',
  'Fielding, Helen',
  '924,695',
  'Pan Macmillan',
  'General & Literary Fiction'],
 ['79',
  "Jamie's Italy",
  'Oliver, Jamie',
  '906,968',
  'Penguin',
  'National & Regional Cuisine'],
 ['80',
  'I Can Make You Thin',
  'McKenna, Paul',
  '905,086',
  'Transworld',
  'Fitness & Diet'],
 ['81',
  'Down Under',
  'Bryson, Bill',
  '890,847',
  'Transworld',
  'Travel Writing'],
 ['82',
  'Summons,The',
  'Grisham, John',
  '869,671',
  'Random House',
  'Crime, Thriller & Adventure'],
 ['83',
  'Small Island',
  'Levy, Andrea',
  '869,659',
  'Headline',
  'General & Literary Fiction'],
 ['84',
  'Nigella Express',
  'Lawson, Nigella',
  '862,602',
  'Random House',
  'Food & Drink: General'],
 ['85',
  'Brick Lane',
  'Ali, Monica',
  '856,540',
  'Transworld',
  'General & Literary Fiction'],
 ['86',
  "Memory Keeper's Daughter,The",
  'Edwards, Kim',
  '845,858',
  'Penguin',
  'General & Literary Fiction'],
 ['87',
  'Room on the Broom',
  'Donaldson, Julia',
  '842,535',
  'Pan Macmillan',
  'Picture Books'],
 ['88',
  'About a Boy',
  'Hornby, Nick',
  '828,215',
  'Penguin',
  'General & Literary Fiction'],
 ['89',
  'My Booky Wook',
  'Brand, Russell',
  '820,563',
  'Hodder & Stoughton',
  'Autobiography: The Arts'],
 ['90',
  'God Delusion,The',
  'Dawkins, Richard',
  '816,907',
  'Transworld',
  'Popular Science'],
 ['91',
  '"Beano" Annual,The',
  '0',
  '816,585',
  'D.C. Thomson',
  "Children's Annuals"],
 ['92',
  'White Teeth',
  'Smith, Zadie',
  '815,586',
  'Penguin',
  'General & Literary Fiction'],
 ['93',
  'House at Riverton,The',
  'Morton, Kate',
  '814,370',
  'Pan Macmillan',
  'General & Literary Fiction'],
 ['94',
  'Book Thief,The',
  'Zusak, Markus',
  '809,641',
  'Transworld',
  'General & Literary Fiction'],
 ['95',
  'Nights of Rain and Stars',
  'Binchy, Maeve',
  '808,900',
  'Orion',
  'General & Literary Fiction'],
 ['96',
  'Ghost,The',
  'Harris, Robert',
  '807,311',
  'Random House',
  'General & Literary Fiction'],
 ['97',
  'Happy Days with the Naked Chef',
  'Oliver, Jamie',
  '794,201',
  'Penguin',
  'Food & Drink: General'],
 ['98',
  'Hunger Games,The:Hunger Games Trilogy',
  'Collins, Suzanne',
  '792,187',
  'Scholastic Ltd.',
  'Young Adult Fiction'],
 ['99',
  "Lost Boy,The:A Foster Child's Search for the Love of a Family",
  'Pelzer, Dave',
  '791,507',
  'Orion',
  'Biography: General'],
 ['100',
  "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
  'Oliver, Jamie',
  '791,095',
  'Penguin',
  'Food & Drink: General']]

In [128]:
#creating dataframe and giving columns  as header
books = pd.DataFrame(row, columns = header)
#displaying dataframe
books

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## 9. Scrape the details most watched tv series of all time from imdb.com. 
#### Url = https://www.imdb.com/list/ls095964455/
##### We have to find the following details:
##### A) Name
##### B) Year span
##### C) Genre
##### D) Run time
##### E) Ratings
##### F) Votes

In [145]:
#proving the link to the driver
driver.get('https://www.imdb.com/list/ls095964455/')

In [157]:
#creating empty list
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [158]:
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a[1]"): #element of shows name and then appending it 
    Name.append(i.text)

for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']//span[2]"):#element year span and then appending it
    Year_span.append(i.text)
    
for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[5]"):#element of genre and then appending it
    Genre.append(i.text)
    
for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[3]"):#element of runtime od show and then appending it
    Run_time.append(i.text)
    
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):#element of shows rating and then appending it
    Ratings.append(i.text)
    
for i in driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[@name='nv']"):#element of total votes and then appending it
    Votes.append(i.text)

In [159]:
#creating the dataframe
Shows=pd.DataFrame({})
Shows['Name']=Name
Shows['Year_span']=Year_span
Shows['Genre']=Genre
Shows['Run_time']=Run_time
Shows['Ratings']=Ratings
Shows['Votes']=Votes

In [160]:
#final dataframe
Shows

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,767,891"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"820,576"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"852,592"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"255,953"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,132"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,534"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,823"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"160,943"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,070"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"181,983"

## 10. Details of Datasets from UCI machine learning repositories. 
##### Url = https://archive.ics.uci.edu/
##### We have to find the following details:
##### A) Dataset name
##### B) Data type
##### C) Task
##### D) Attribute type
##### E) No of instances
##### F) No of attribute
##### G) Year

In [171]:
#providing link to the driver
driver.get('https://archive.ics.uci.edu/ml/index.php')

In [172]:
#now we will click on view all datasets
driver.find_element_by_xpath("//span[@class='whitetext'][2]//a[1]").click()

In [273]:
#creating empty list
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [274]:
#As the total datasets are 559 so now we will run the loop starting from 2 because we are exculding header of table upto 563 as the total datasets are 559
for k in range(2,563):

#Here Tr tag is for rows and Td tag is for column
#getting all rows of data having dataset name column
    for i in driver.find_elements_by_xpath("//table[@border='1']//tr["+str(k)+"]/td[1]"):
        Dataset_name.append(i.text)
        
#getting all rows of data having datatype column
    for i in driver.find_elements_by_xpath("//table[@border='1']//tr["+str(k)+"]/td[2]"):
        Data_type.append(i.text) 
        
#getting all rows of data having Task column
    for i in driver.find_elements_by_xpath("//table[@border='1']//tr["+str(k)+"]//td[3]"):
        Task.append(i.text) 
        
#getting all rows of data having Attribute_type column
    for i in driver.find_elements_by_xpath("//table[@border='1']//tr["+str(k)+"]//td[4]"):
        Attribute_type.append(i.text) 
        
#getting all rows of data having No_of_instances column
    for i in driver.find_elements_by_xpath("//table[@border='1']//tr["+str(k)+"]//td[5]"):
        No_of_instances.append(i.text) 
        
#getting all rows of data having  No_of_attribute column
    for i in driver.find_elements_by_xpath("//table[@border='1']//tr["+str(k)+"]//td[6]"):
        No_of_attribute.append(i.text) 
        
#getting all rows of data having Year column
    for i in driver.find_elements_by_xpath("//table[@border='1']//tr["+str(k)+"]//td[7]"):
        Year.append(i.text)

In [275]:
#creating dataset
UCI=pd.DataFrame({})
UCI['Dataset_name']=Dataset_name
UCI['Data_type']=Data_type
UCI['Task']=Task
UCI['Attribute_type']=Attribute_type
UCI['No_of_instances']=No_of_instances
UCI['No_of_attribute']=No_of_attribute
UCI['Year']=Year

In [276]:
#fianl dataset
UCI

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
555,Guitar Chords finger positions,Text,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscop...,Time-Series,Classification,Real,800,9,2020